# Host do postgres. Em DB clients como o dbeaver será localhost, mas aqui, usando docker, é `db` devido ao fato que o host é outro container rodando no mesmo endereço de hosting variável. 
PGHOST=db

# Porta do seu banco postgres
PGPORT=5432
# Nome do seu usuário postgres com permissões de read e write
PGUSER=
# Senha do usuário postgres
PGPASSWORD=
# Nome do banco que a aplicação vai rodar. Quando isso é mudado, o script de criação cria um novo banco com o nome dessa variável, então mantenha em mente que você estará criando novos bancos ao mudar isso.
PGDATABASE=
# Porta que a API em si roda (NÃO CONFUNDIR COM A PORTA DO POSTGRES)
PORT=3000

# Ambiente em que a API está rodando, development é o valor padrão que permite hot reload, production é o valor que só constrói o executável para deploy
ENV=development
